/* 
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
*/

*{
    text-decoration: none !important;
    text-decoration: none;
    list-style-type: none;
}
/* -------------header part Start-------------- */
#header{
    background: #26292d !important;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.navbar-brand img{
    height:60px; 
}
nav ul li a{
	font-size: 12px;
	color: #babcbc !important;
    margin-left: 20px; 
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
nav ul li a:hover{
    color: #b98d36 !important;
    
}
nav ul li a.active{
    color: #808088 !important;
}
.sing-up button{
    border: none;
    background: none;
}
.sing-up button a{
    border: 1px solid #b98d36;
    padding: 12px 20px;
    color: #babcbc !important;
    border-radius:25px;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
 }
  .sing-up button a:hover{
    color: #b98d36 !important;
 } 
 .drop-down ul li a{
    margin-left: 0px !important;
 }
/* -------------header part End-------------- */


/* -------------banner part Start-------------- */
#banner_section .banner_item .banner{
    position: relative;
}
#banner_section .banner_item .banner .banner-contant{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#banner_section .banner_item .banner .banner-contant h1{
    color:#b98d36 ;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    line-height:60px;
}
#banner_section .banner_item .banner .banner-contant p{
    color:#fff ;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}
#banner_section .banner_item .banner .banner-contant a{
    border: 1px solid #b98d36;
    padding: 12px 20px;
    color: #fff;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    transition: .4s;
}
#banner_section .banner_item .banner .banner-contant a:hover{
    color: #b98d36 !important;
    border: 1px solid #fff;
 }
#banner_section .banner_item .banner img{
    height: 98vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
}
#banner_section .slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#banner_section .slick-dots li{
    display: inline-block;
    margin: 0 10px;
}
#banner_section .slick-dots li button{
    border: none;
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #a4a4a4;
}
#banner_section .slick-dots .slick-active button{
   background: #b98d36;
	width: 25px;
    border-radius: 20px;
}
/* -------------Banner part End-------------- */

/* -------------Restaurant History Part-Start-------------- */
#restaurant_history{
    padding-top: 70px;
}
#restaurant_history .title h1{
    text-align: center;
    color: #282b2e;
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 50px;
}
#restaurant_history .contant p{
    color: #282b2e;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
}
#restaurant_history .contant h6{
    color: rgba(50, 51, 51, 0.8);
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    line-height: 26px;   
}
#restaurant_history .shape img{
    height: 100%;
    width: 100%;
}
/* -------------Restaurant History Part-End-------------- */

/* -------------Specials Combo Part-Start------------- */
#specials_combo{
    background:url(../images/speacial-bg.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}
#specials_combo #specials_combo_title h1{
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 900;
}
#specials_combo #specials_combo_title p{
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 400;
    opacity: .5;
}
#specials_combo .card{
    background: none;
}
#specials_combo .card .special_combo_item .image{
    position: relative;
}
#specials_combo .card .special_combo_item .image #Zoom_In{
    overflow: hidden;
}
#specials_combo .card .special_combo_item .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .6s ease-in-out;
}
#specials_combo .card .special_combo_item .image img:hover{
    transform: scale(1.5);
}
#specials_combo .card .special_combo_item .image .prise{
    height: 35%;
    width: 35%;
    background: #282b2e;
    border-radius: 50%;
    z-index: 100;
    position:absolute;
    /* left: 10%;
    top: -20%; */
    right: -18%;
    top: 15%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#specials_combo .card .special_combo_item{
    transition:.4s;
}
#specials_combo .card .special_combo_item .image .prise h3{
    color: #b98d36;
    text-align: center;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}
#specials_combo .card .special_combo_item:hover .image .prise h3{
    color: #fff;
    text-align: center;
    font-size: 25px;
}
#specials_combo .card .special_combo_item .combo_title_bottom{
    color: #fff;
    line-height: 35px;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    padding: 25px;
    transition: .4s;
}
#specials_combo .card .special_combo_item:hover .combo_title_bottom{
    background: #282b2e;

}
#specials_combo .card .special_combo_item .combo_title_bottom a{
    color: #fff;
}

#specials_combo .slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
   
}
#specials_combo .slick-dots li{
    display: inline-block;
    margin: 0 10px;
}
#specials_combo .slick-dots li button{
    border: none;
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #a4a4a4;
}
#specials_combo .slick-dots .slick-active button{
   background: #b98d36;
	width: 25px;
    border-radius: 20px;
}
/* -------------Specials Combo Part-End-------------- */


/* -------------Our Experienced Chefs Part Start-------------- */
#experienced_Chefs .Chefs_title h1{
    text-align: center;
    color: #282b2e;
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 900;
}
#experienced_Chefs .Chefs_title p{
    text-align: center;
    color: #282b2e;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    opacity: .5;
}
#experienced_Chefs .card{
    border: none !important;
}
#experienced_Chefs .card .experienced_Chefs_image #Zoom_In img{
    width: 90%;
    transition: .6s ease-in-out;
}
#experienced_Chefs .card .experienced_Chefs_image #Zoom_In img:hover{
    transform: scale(1.2);
}
#experienced_Chefs .card .experienced_Chefs_image #Zoom_In{
    overflow: hidden;
}
#experienced_Chefs .card .experienced_Chefs_image{
    position: relative;
    display: block; 
}
#experienced_Chefs .card .Chefs_Contact{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: rgba(255,255,255,.9);
    border-radius: 5px;
    padding: 12px 10px;
}
#experienced_Chefs .card .Chefs_Contact h3{
    color: #282b2e;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 500;
}
#experienced_Chefs .card .Chefs_Contact p{
    color: #b98d36;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
}
#experienced_Chefs .card .Chefs_Contact .social_icon a i{
    margin-left: 8px;
    color: #1da1f2;
    transition: .4s;
}
#experienced_Chefs .card .Chefs_Contact .social_icon a i:hover{
    color: #3a3c30;
}
/* -------------Our Experienced Chefs Part End-------------- */


/* -------------Our Experienced Chefs Part End-------------- */
#review-part .review_item .card{
    border: none;
}
#review-part .review_title h1{
    text-align: center;
    color: #282b2e;
    font-family: 'Playfair Display', serif;
    font-size:35px;
    font-weight: 900;
}
#review-part .review_title p{
    text-align: center;
    color: #282b2e;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    opacity: .5;
}
#review-part .review h3{
    text-align: center;
    color: #282b2e;
    font-family: 'Playfair Display', serif;
    font-size:20px;
    font-weight: 500;
}
#review-part .review p{
    text-align: justify;
    color: #282b2e;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    width:100%;
    margin: 0 auto;
    padding: 10px 0 18px 0;
}
#review-part .review .review_image{
    text-align: center;
    margin: 0 auto;
}
#review-part .review .review_image img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
#review-part .review .claint_name h4{
    text-align: center;
    color: #282b2e;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 0 5px 0;
}
#review-part .review .rate{
    text-align: center;
}
#review-part .review .rate i{
    margin-left: 8px;
    color: #ffaf0f;
    font-size: 14px;
    transition: .4s;
   text-align: center;
}
#review-part .slick-dots{
    position: absolute;
    bottom:100%;
    left: 50%;
    transform: translateX(-50%);
}
#review-part .slick-dots li{
    display: inline-block;
    margin: 0 10px;
}
#review-part .slick-dots li button{
    border: none;
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #a4a4a4;
}
#review-part .slick-dots .slick-active button{
   background: #b98d36;
	width: 25px;
    border-radius: 20px;
}
/* -------------Our Experienced Chefs Part End-------------- */


/* -------------Our Experienced Chefs Part End-------------- */
#contact_part{
    padding: 50px 0px;
}
#contact_part h1{
   font-size: 36px;
   font-weight: 600;
   color: #485664;
   font-family: 'Raleway', sans-serif;
   padding: 15px;
}
#contact_part .location .card h2{
   font-size: 24px;
   font-weight: 600;
   color: #485664;
   font-family: 'Raleway', sans-serif;
   padding: 15px;
}
#contact_part .location .card .info-item i{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #b98d36;
    margin-top: -25px;
}
#contact_part .location .card .info-item p{
    /* display: flex; */
    justify-content: center;
    margin-left: 35px;
    font-size: 16px;
    color: #a1a1a1;
    padding-bottom: 20px;
}
#contact_part .card h4{
    color: #a1a1a1;
    margin-left: 60px;
    color: #485664;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    width: 600;
}
#contact_part .card{
    /* box-shadow: inset 0 2px 6px 0 rgb(222, 221, 221); */
    box-shadow: 8px 8px 18px 8px rgba(0,0,0,0.05);
    border: none;
}
#contact_part .card form input{
        border-radius: 0px;
        background-color: #fff;
        border: 1px solid #b98d36;
        height: 45px;
}
#contact_part .card .message textarea{
    outline: none;
    border-radius: 0px;
    background-color: #fff;
    border: 1px solid #b98d36; 
}
#contact_part .submit_btn{
    padding: 20px;
}
#contact_part .submit_btn a{
    padding: 15px 20px;
    background: #b98d36;
    color: #fff;
    text-align: center;
}
/* -------------Our Experienced Chefs Part End-------------- */


/* -------------Footer Part Start-------------- */
#footer_part{
    background: #26292d;
    color: #fff;padding: 50px;
}
#footer_part .contant-1 .footer-logo{
    padding: 30px 0px;
 
}
#footer_part .contant-1 i{
    padding: 8px 10px 0px 5px;
    color: #b98d36;
}
#footer_part .contant-1 p{
    color: #bcbbba;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    weight: 400;
}
#footer_part .footer_title{
    padding: 30px 0px;
    color: #b98d36;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 800;
}
#footer_part .contant-2 p{
   margin: 5px;
}
#footer_part .contant-2 p span{
    color: #b98d36;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    width: 400;
}
#footer_part .contant-3 .menu-item ul li a{
    color: #fff;
}
#footer_part .contant-3 .menu-item ul li{
    margin-bottom: 14px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 500;
}
#footer_part .contant-4 form input{
    padding:10px;
    border: none;
    outline: none;
    width: 100%;
}
#footer_part .contant-4 .subscribe_btn{
    padding: 30px 0px;
}
#footer_part .contant-4 .subscribe_btn a{
    padding: 10px 15px;
    border: 2px solid #b98d36;
    width: 600;
    font-size: 18px;
    color: #b98d36;
    font-family: 'Playfair Display', serif;
    text-align: center;
    letter-spacing: 2px;
    transition: .4s;
}
#footer_part .contant-4 .subscribe_btn a:hover{
    color: #ffffff;
   
}
/* -------------Footer Part End-------------- */
